@model Emp
<form asp-controller="Employee" asp-action="AddEmp" method="post">
    <div class="form-group">
        <lable>ID</lable>
        <input type="text" asp-for="Id" class="form-control"></input>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Name: </label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Salary: </label>
        <input type="text" asp-for="Sal" class="form-control" />
        <span asp-validation-for="Sal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Address: </label>
        <input type="text" asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Gender</label>
        <select asp-for="Gender" class="form-control">
            <option value="">Select</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>
